/* decorates the entire page; uses id of "entire_content"*/
#entire_content{
    background: #0a1e21;
    color: rgba(255, 255, 255, 0.577);
}

/* decorates the whole body; uses id of body_content*/
#body_content{
    padding-top: 5%;
    padding-left:5%;
    padding-right:5%;
    padding-bottom:5%;
}

/* decorates all blocks  of projects using the class projects_link */
.projects_link{
    text-decoration: none;
    color:inherit;
    text-align: justify;
    
}.projects_link:hover{
    color:rgba(255, 255, 255, 0.89);
    background-color: #0e272c;
    border-radius: 10%;
}


/* decorates the iconed links to social media contacts */
.contact-icon{
    text-decoration: none; 
    color:rgba(255, 255, 255, 0.718);
    height: 100px;
    
}.contact-icon:hover{
    text-decoration: none;
    color:white;

}

/* decorates the navigational links to the main parts of the project such as experiences; personal projects; hobbies; Resume.  */
#mainLinks{padding-top: 10%;
    padding-bottom: 10%;}




/* decorates the entire navigation and introduction block */
#main-nav{
padding-top: 50px; 
padding-left: 10%; 
padding-right:10%;}






























@media (min-width: 577px){
header {
    background-color: #0a1e21; 
    /* rgb(45, 5, 53) */
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    height: 100vh; /* Full height */
}



}




@media (max-width: 577px){
    header {
        background-color: rgb(45, 5, 53);
        position: -webkit-sticky;
        position: sticky;
        top:0;
    }
    nav {
        padding-top: 100px;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 10px;
    
    }
}
 
@media (max-width: 852px){
        .nav-font{
    font-size: 33px;
        }
        
    }

@media (max-width: 852px){
    .nav-font{
font-size: 22px;
    }
    

}

@media (max-width: 577px){
    .nav-font{
        font-size: 30px;
            }
}
